@font-face {
  font-family: 'Material Icons';
  font-display: block;
}

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

$breakpoints: (phone: 640px,
        tablet: 768px,
        desktop: 1024px) !default;

////// Layout
.react-toast-notifications__container {
  z-index: 1401 !important;
}

body {
  font-family: "Open Sans", sans-serif !important;
}

.logo {
  width: 20em;
}

.logo-no-text {
  width: 5em;
  padding: 1em;
}

p {
  font-size: 1.1em;
  line-height: 2em;
}


.nickname-input {
  width: 100%;
}
.captcha {
  margin-top: 20px
}

.MuiAppBar-colorPrimary {
  color: #000 !important;
  background-color: #fff !important;
}

.MuiButton-contained {
  background-color: white !important;
}

.app-bar-status button {
  margin: auto;
}

.lukas {
  height: 40em;
}

.lukas svg {
  height: 100%;
  width: 100%;
}

#bar_bottom {
  height: 230px;
}

#bar_top {
  // height: 115px; // half 115px, full 230 px
}

.MuiCircularProgress-colorSecondary {
  color: rgb(202, 210, 68) !important;
}

.MuiTypography-colorTextSecondary {
  color: black !important;
}

a {
  text-decoration: none;
}

.MuiButton-containedPrimary {
  background-color: rgb(14, 108, 177) !important;
}

.notification-dialog {
  .MuiListItem-gutters {
    padding-right: 0 !important;
  }
}

.rotate {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.space-top-20 {
  margin-top: 20px
}

.space-bottom {
  margin-bottom: 100px;
}


body {
  background-image: url("../../static/images/background.png");
}

body {
  background-image: url("../../static/images/background.webp");
}

body {
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.top-layout {
  flex-grow: 1;
}

.main-container {
  margin-bottom: 5em;
}

.app-bar-title {
  flex-grow: 1;
}

.invite-buttons {
  display: flex;
  justify-content: space-between;
}

.hamburger-menu-drawer {

  .app-bar-list {
    max-width: 300px;
  }

  .hamburger-menu-bottom-text-content p {
    font-size: small;
  }
}

h1 {
  color: rgb(14, 108, 177);

}

h2 {
  color: rgb(7, 61, 97);
}

.welcome-page {

  .welcome-main-title {
    font-size: 3em;
  }

  .welcome-sub-title {
    margin-bottom: 40px;
    margin-top: -1.2em;
  }

  .welcome-contact-icons svg {
    font-size: 3em;
    color: rgb(14, 108, 177);
  }


  .welcome-buttons-container * {
    width: 100%;
  }


  .welcome-column-left,
  .welcome-column-right {
    padding-top: 20px;
  }

  .welcome-footer-sdg-nav {
    padding-top: 3em;
  }

}


.login {
  margin-top: 3em;

  .anmelden {
    margin-top: 3em
  }
}

.registration {
  .generate-code-button {
    margin-top: 3em
  }
}


.logout-toast {
  .logout-toast-buttons {
    display: flex;
    justify-content: space-between;
    //width: 100%;
  }
}


.app-bar-status * {
  color: black;
}

.favorites, .overview {
  .overview-favorites-list-item {
    background-color: white;
    margin: 10px 0;
    padding: 10px 40px 10px 10px;
  }

  .favorites-list-item-text {

  }

  .favorites-list-unfavorite-button {
    right: 0;
  }

  .mission-tudu-icon {
    &.filled {
      color: rgb(202, 210, 68);
    }
  }
}


.MuiToolbar-regular {
  min-height: 20px !important;
}

.overview {
  margin-top: 1em;

  .overview-title {
    text-align: center;
    font-size: 1.2em;
    padding: 1em;
  }

  .overview-tudus-title {
  }

  .overview-points {
    min-width: 350px
  }

  .overview-sdg-ribbon-nav li {
    float: left;
    list-style: none;
    margin: 10px
  }
}

.sdg {
  .sdg-info-icon {
    font-size: 1.5em;
    color: rgb(14, 108, 177);
  }

  .sdg-footer-nav {
    width: 100%;
    position: fixed;
    bottom: 0;
  }
}

.missions {
  .mission {
    margin-bottom: 40px;

    .anchor {
      position: relative;
      top: -10px;
    }


    .people-container {
      margin-top: 25px;
      text-align: center;
    }

    .mission-accordion-details {
      flex-wrap: wrap;
      justify-content: center;
    }

    .MuiAccordion-root.Mui-expanded {
      margin-top: 0
    }

    .mission-category-and-points {
      display: flex;
      justify-content: space-between;

      h3 {
        margin: 0
      }

      .mission-points {
        margin: auto 0;
      }
    }

    .mission-accordion-buttons {
      svg {
        color: rgb(99, 120, 134);
        font-size: xx-large;

        &.filled {
          color: rgb(202, 210, 68)
        }
      }
    }
  }


}


////////// Index

@media (max-width: 1024px) {
  .welcome-earth-img {
    position: fixed;
    width: 200%;
    left: -50%;
    right: 50%;
    top: 55vh !important;
    z-index: -1;
  }
  .overview-earth-img {
    position: fixed;
    width: 200%;
    top: 55vh !important;
    left: -50%;
    right: 50%;
    z-index: -1
  }

}


@media (min-width: 1024px) {
  .welcome-column-left > div {
    margin-top: 2em;
  }
  .overview-earth-img {
    position: fixed;
    width: 110%;
    top: 45vh !important;
    left: -5%;
    z-index: -1;
  }
}

@media (min-width: 1025px) {
  .overview-earth-img {
    opacity: 0.5;
  }
}


////////// Teams
.cls-1 {
  fill: #0e6cb1;
}

.cls-2 {
  fill: #e96423;
}

.cls-3 {
  fill: #64b349;
}

.cls-4 {
  fill: #d09f27;
}

.cls-5 {
  fill: #c21c34;
}

.cls-6 {
  fill: #259947;
}

.cls-7 {
  fill: #48773f;
}

.cls-8 {
  fill: #f9b61b;
}

.cls-9 {
  fill: #e7432c;
}

.cls-10 {
  fill: #f49b29;
}

.cls-11 {
  fill: #037dbb;
}

.cls-12 {
  fill: #8f1939;
}

.cls-13 {
  fill: #00add8;
}

.cls-14 {
  fill: #ec6d29;
}

.cls-15 {
  fill: #e41c32;
}

.cls-16 {
  fill: #de1982;
}

.cls-17 {
  fill: #1e3766;
}

.cls-18 {
  fill: #cd8c2a;
}

.cls-19 {
  fill: #00558b;
}

.invite-friend-to-group-dialog {
  padding: 20px
}

.invite-friend-to-group-dialog-form {
  margin: 20px
}

.teams-page {
  .info-alert {
    margin: 30px 0;
  }


  .teams-list {
    li {
      list-style: none;

      .button-group {
        margin: 10px 0;
      }
    }

    .select-team-button {
      .MuiButton-label {
        justify-content: left;
      }
    }

    .arrow-down-button {
      width: 20px
    }
  }
}


.team-score-page {
  margin-top: 1em;
  min-width: 326px;

  .score-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em
  }

  .current-player {
    background-color: lightskyblue;
    opacity: 1;
  }

  .player-accordion-summary {
    .MuiAccordionSummary-content {
      display: flex;
      justify-content: space-between;
    }
  }


  .player-accordion-details-sdgs-list {
    width: 100%;

    .player-accordion-details-sdgs-list-item {
      display: flex;
      justify-content: space-between;
      @media (max-width: 405px) {
        padding-right: 0;
        padding-left: 0;
      }

      .player-sdg-name {
        width: 20em;
        padding: 0.5em;
        flex-wrap: wrap;
        hyphens: auto;
      }
    }
  }
}