.multislider .slick-track{
    display: flex !important;
    overflow: hidden;
}

.multislider .slick-slide {
    height: inherit !important;
}

.slick-list, .slick-slider {
    position: relative;
    display: block;
}

.multislider {
    width: 100%;
    overflow: hidden;
}

.slick-next {
    right: 10px !important;
    z-index: 1;
}

.slick-prev {
    left: 10px !important;
    z-index: 1;
}


.wrapper {
    background-color: rgb(0, 21, 40);
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}

.img {
    width: 25em;
    padding: 1em;
}

@media screen and (max-width: 767px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .img {
        width: 100%;
        padding: 1em;
    }
}
